.tool-icon{
    width: 6em;
    height: 1em;
    display: inline-block;
    mask: no-repeat center/90%;
    -webkit-mask: no-repeat center/90%;
    background: white;
}

.logo {
  mask-image: url(/img/yamato.png);
  -webkit-mask-image: url(/img/yamato.png);
}

a.navbar-brand {
  font-size:2.5rem
}
